<div class="warRules declareWar" id="warSchedule">
    <a class="close" id="closeDeclareWar" href='#guild'>
        <img src="./icons/esc.svg">
    </a>
    <div class="title">VS
        <div class="guildsName from">{{fromName}}</div>
        <div class="guildsName on">{{onName}}</div>
    </div>
    <div class="declareMiddle warRulesMiddle">
        <div class="declareWarTitle warRulesTitle">War rules</div>
        <div class="boxes">
            <div class="box win-schedule-box">
                <div class="sub-title win-schedule-title">War schedule</div>
                <div class="schedule-container">
                    <img src="./icons/schedule-yellow.svg" class="schedule">
                </div>
                <input type="text" class="input datepicker" id="daterangepicker"></input>
            </div>
            <div class="box win-reward-box">
                <div class="sub-title win-reward-title">Win reward</div>
                <div class="win-reward-points-container">
                    <div class="cup-container">
                        <img src="./icons/cup.svg" class="cup">
                    </div>
                    <input type="text" class="input win-reward" id="win-reward" value="{{winReward}}"></input>
                    <div class="points">points</div>
                </div>
            </div>
            <div class="box accountable-matches-box">
                <div class="sub-title accountable-matches-title">Accountable matches</div>
                <div class="checkboxes-container">
                    <div class="checkboxes">
                        <input type="checkbox" class="checkbox" id="ladder" value="ladder" name="ladder" {{ladder}}></input>
                        <label for="ladder">Ladder</label>
                    </div>
                    <div class="checkboxes">
                        <input type="checkbox" class="checkbox" id="tournaments" value="tournaments" {{tournaments}}></input>
                        <label for="tournaments">Tournaments</label>
                    </div>
                    <div class="checkboxes">
                        <input type="checkbox" class="checkbox" id="interguilds-duels" value="interguilds-duels" checked disabled></input>
                        <label for="interguilds-duels">Interguilds duels</label>
                    </div>
                </div>
            </div>
            {{!-- <div class="box max-unanswered-box">
                <div class="sub-title max-unanswered-title">Max unanswered<br>matches during war times</div>
                <input type="text" class="input max-unanswered" id="max-unanswered" value="{{maxUnanswered}}"></input>
            </div> --}}
        </div>
    </div>
    <p id="error" style="display: none;"></p>
    <div class="buttons">
        <button class="button next nextWarRules">Next</button>
    </div>
</div>