<div class="warSchedule declareWar" id="warSchedule">
    <a class="close" id="closeDeclareWar" href='#guild/{{onId}}'>
        <img src="./icons/esc.svg">
    </a>
    <div class="title">VS
        <div class="guildsName from">{{fromName}}</div>
        <div class="guildsName on">{{onName}}</div>
    </div>
    <div class="warScheduleMiddle">
        <div class="warsCalendar warsCalendarFrom">
            <div class="nextWars">Next wars</div>
            <div class="allDates allDatesFrom">
            {{#each fromWars}}
            <div class="dates">
                <div class="date">
                    <div class="day">{{startDay}} {{startDate}}</div>
                    <div class="tiret"> - </div>
                    <div class="day">{{endDay}} {{endDate}}</div>
                </div>
                <div class="hours">
                    <div class="startHours">at {{startHours}}h{{startMin}}m</div>
                    <div class="endHours">at {{endHours}}h{{endMin}}m</div>
                </div>
            </div>
            {{/each}}
            </div>
        </div>
        <div class="warCalendarNext">
            <div class="warScheduleTitle">War schedule</div>
            <div class="schedule-container">
                <img src="./icons/schedule-yellow.svg" class="schedule">
            </div>
            <div class="input-container-from-to">
                <div class="input-container from">
                    <div class="text-input">From</div>
                    <input type="text" class="input" id="fromJJ" placeholder="JJ" maxlength="2"></input>
                    <input type="text" class="input" id="fromMM" placeholder="MM" maxlength="2"></input>
                    <input type="text" class="input" id="fromYY" placeholder="YYYY" maxlength="4"></input>
                    <div class="tiret"> - </div>
                    <input type="text" class="input" id="fromHH" placeholder="HH" maxlength="2"></input>
                    <input type="text" class="input" id="fromMIN" placeholder="MM" maxlength="2"></input>
                </div>
                <div class="input-container to">
                    <div class="text-input">To</div>
                    <input type="text" class="input" id="toJJ" placeholder="JJ" maxlength="2"></input>
                    <input type="text" class="input" id="toMM" placeholder="MM" maxlength="2"></input>
                    <input type="text" class="input" id="toYY" placeholder="YYYY" maxlength="4"></input>
                    <div class="tiret"> - </div>
                    <input type="text" class="input" id="toHH" placeholder="HH" maxlength="2"></input>
                    <input type="text" class="input" id="toMIN" placeholder="MM" maxlength="2"></input>
                </div>
            </div>
            <p id="error" style="display: none;"></p>
            <div class="buttons">
                <button class="button prev prevWarSchedule">Previous</button>
                <button class="button next nextWarSchedule">Next</button>
            </div>
        </div>
        <div class="warsCalendar warsCalendarOn">
            <div class="nextWars">Next wars</div>
            <div class="allDates allDatesOn">
            {{#each onWars}}
            <div class="dates">
                <div class="date">
                    <div class="day">{{startDay}} {{startDate}}</div>
                    <div class="tiret"> - </div>
                    <div class="day">{{endDay}} {{endDate}}</div>
                </div>
                <div class="hours">
                    <div class="startHours">at {{startHours}}h{{startMin}}m</div>
                    <div class="endHours">at {{endHours}}h{{endMin}}m</div>
                </div>
            </div>
            {{/each}}
            </div>
        </div>
    </div>

</div>