<div class="all-matches  matches-page" id="all-matches">
    <div class="to-do-container container" id="to-do-container">
        <div class="to-do title" id="to-do">To do {{nbToDo}}/{{maxToDo}}</div>
        <div class="all-opponent">
        {{#each allToDo}}
        <div class="match thumbnail">
            <div class="opponent1 registered" id="opponent{{opponent1Id}}" onclick="window.location='#profile/{{opponent1Id}}/';">
                <div class="trophy-container">
                    <img class="trophy" src="{{opponent1Trophy}}">
                </div>
                <div class="image-container">
                    <img class="image-url" src="{{opponent1Avatar}}">
                </div>
                <div class="nickname">{{opponent1}}</div>
            </div>
            <div class="VS">VS</div>
            <div class="opponent2 registered" id="opponent{{opponent2Id}}" onclick="window.location='#profile/{{opponent2Id}}/';">
                <div class="trophy-container">
                    <img class="trophy" src="{{opponent2Trophy}}">
                </div>
                <div class="image-container">
                    <img class="image-url" src="{{opponent2Avatar}}">
                </div>
                <div class="nickname">{{opponent2}}</div>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
    <div class="done-container container" id="done-container">
        <div class="done title" id="done">Done {{nbDone}}/{{maxToDo}}</div>
        <div class="all-done">
        {{#each allDone}}
        <div class="match-done-container">
            <div class="match-done">
                <div class="image-nickname" onclick="window.location='#profile/{{opponentId1}}/';">
                    <div class="opponent opponent1">{{opponent1}}</div>
                    <div class="image-container">
                        <img class="image-url" src="{{avatarOpponent1}}">
                    </div>
                </div>
                <div class="score score1">{{score1}}</div>
                <div class="VS">VS</div>
                <div class="score score2">{{score2}}</div>
                <div class="image-nickname" onclick="window.location='#profile/{{opponentId2}}/';">
                    <div class="image-container">
                        <img class="image-url" src="{{avatarOpponent2}}">
                    </div>
                    <div class="opponent opponent2">{{opponent2}}</div>
                </div>
            </div>
            {{#if forfeit}}
            <div class="forfeit">Victory by forfeit</div>
            {{/if}}
        </div>
        {{/each}}
        </div>
        </div>
    </div>
</div>