<div class="my-matches matches-page" id="my-matches">
    <div class="to-do-container container" id="to-do-container">
        <div class="to-do title" id="to-do">To do {{nbMyToDo}}/{{maxMyToDo}}</div>
        <div class="all-opponent">
        {{#each myToDo}}
        <div class="match thumbnail thumbnail-my-matches">
            <div class="opponent1 registered" id="opponent{{opponentId}}">
                <div class="trophy-container">
                    <img class="trophy" src="{{opponentTrophy}}">
                </div>
                <div class="right-side">
                    <div class="image-nickname" onclick="window.location='#profile/{{opponentId}}/';">
                        <div class="image-container">
                            <img class="image-url" src="{{opponentAvatar}}">
                        </div>
                        <div class="nickname">{{opponent}}</div>
                    </div>
                    <div class="button-timer" id="button-timer{{opponentId}}">
                        {{#unless waiting}}
                        <button class="play play-my-matches {{play}}" id="play-my-matches{{opponentId}}" for="{{opponentId}}">{{play}}</button>
                        {{/unless}}
                        {{#if waiting}}
                        <div class="buttons">
                            <div class="accept-container check-container" onclick="window.location='#game/{{gameId}}';">
                                <img class="accept-button check-button" src="./icons/check.svg">
                            </div>
                            <div class="accept-container close-container">
                                <img class="accept-button close-button" src="./icons/close.svg" for="{{gameId}}" user="{{opponentId}}">
                            </div>
                        </div>
                        {{/if}}
                        {{#ifCond waiting '||' pending}}
                        <div class="timer" id="timer{{opponentId}}"></div>
                        {{/ifCond}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
    <div class="done-container container" id="done-container">
        <div class="done title" id="done">Done {{nbMyDone}}/{{maxMyToDo}}</div>
        <div class="all-done">
        {{#each myDone}}
        <div class="match-done-container">
            <div class="match-done">
                <div class="image-nickname" onclick="window.location='#profile/{{opponentId1}}/';">
                    <div class="opponent opponent1">{{opponent1}}</div>
                    <div class="image-container">
                        <img class="image-url" src="{{avatarOpponent1}}">
                    </div>
                </div>
                <div class="score score1">{{score1}}</div>
                <div class="VS">VS</div>
                <div class="score score2">{{score2}}</div>
                <div class="image-nickname" onclick="window.location='#profile/{{opponentId2}}/';">
                    <div class="image-container">
                        <img class="image-url" src="{{avatarOpponent2}}">
                    </div>
                    <div class="opponent opponent2">{{opponent2}}</div>
                </div>
            </div>
            {{#if forfeit}}
            <div class="forfeit">Victory by forfeit</div>
            {{/if}}
        </div>
        {{/each}}
        </div>
    </div>
</div>