<div class="closeParams exitButton" id="ManageGuildExitButton" onclick="window.location='#guild';">
	<img src="./icons/esc.svg" class="">
</div>
<div class="manageGuildTitle">
	<div class="title">
	<span id="guildNameIntro"> MANAGE
		<a href="#guild/{{this.guild.id}}/">{{this.guild.name}}</a>
	</span> <span id="guildAnagram">[{{this.guild.anagram}}]</span>
	<div id='manageGuildErrorDiv'></div>
	</div>

	<div class="manageGuildForm">

{{#if this.ownerBool}}
<div>OFFICERS</div>
<ul class="manageGuildMembersList" id="membersList">
	{{#each this.officers}}
	<li>
		<div class="image-container">
			<img class="memberProfilePicture" src={{this.image_url}}></img>
		</div>
		<span>{{this.nickname}}</span><button class="button" id="kickMember" value="{{this.id}}">Kick</button>
	</li>
	{{/each}}
</ul>
{{/if}}

<div>MEMBERS</div>
<ul class="manageGuildMembersList" id="membersList">
	{{#each this.members}}
	<li>
		<div class="image-container">
			<img class="memberProfilePicture" src={{this.image_url}}></img>
		</div>
		<span>{{this.nickname}}</span><button class="button" id="kickMember" value="{{this.id}}">Kick</button>
	</li>
	{{/each}}
</ul>

{{!-- <button class="button" id="inviteMemberModalButton">Invite someone</button>
<div id="inviteMemberModal" class="manageGuildModal">
	<div id="inviteMemberModalContent">
	<span class="close">&times;</span>
	<label for="nonMemberToInvite" class="labelGuildField">
		<input class="nicknameSearch" type="text" id="nonMemberToInvite"></input>
	</label>
	<div class="nicknameSearchResult" id="inviteMemberResult"></div>
	<button class="inviteMember">Invite member</button>
	</div>
</div> --}}
<button class="button" id="inviteMemberModalButton">Invite someone</button>


<div class="modal modalAddFriendsToGuild" id="inviteMemberModal" style="display: none;">
	<div class="background"></div>
	<div class="modalOpen">
		<div class="close closeModal">
			<img src="./icons/close.svg" id="close"></img>
		</div>
		<label class="label labelSelectFriends" for="search">Select friends</label>
		<input class="textInput modalSearchChannels modalSearchAddFriendsToChannel" type="text" id="nonMemberToInvite" placeholder="Research" for={{id}}></input>
		<div class="friends modalSearchAddFriendsToChannel" id="inviteMemberResult">
			{{#each member}}
			<div class="eachFriend eachFriendModalCreateChannel" for="addfriends{{id}}">
				<div class="left">
					<div class="image-container">
						<img src={{image_url}} id="image_url" class="image_url"></img>
					</div>
					<p class="anagram_nickname">{{anagram}} {{nickname}}</p>
				</div>
				<div class="right">
					<label class="checkboxlabel" for="{{checkboxId}}"></label>
					<input type="checkbox" class="checkbox" id="addfriends{{id}}" value="{{id}}"></input>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="button-container buttons">
			<button class="validation-buttons button validate-add-friends inviteMember" for="{{guildId}}">Invite</button>
		</div>
	</div>
</div>

<!--<label for="memberToInvite" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="nonMemberToInvite"></input>
</label>
<button class="inviteMember">Invite member</button>

<div class="nicknameSearchResult" id="inviteMemberResult"></div>-->

<!--<label for="nonMemberToInvite" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="nonMemberToSendInvitation"></input>
</label>
<button class="sendInvitation">Send invitation</button>-->
<!--
<div class="nicknameSearchResult" id="sendInvitationResult"></div>

<label for="memberToKick" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="memberToKick"></input>
</label>
<button class="kickMember">Kick member</button>
<div class="nicknameSearchResult" id="kickMemberResult"></div>
-->
