
<div class="manageGuildTitle"><span> MANAGE <a href="#guild/{{this.guild.id}}/">{{this.guild.name}}</a>  |  {{this.guild.anagram}}</span>
<span><a id="ManageGuildExitButton" class="exitButton" href="#guild/{{this.guild.id}}">ESC</a><span></div>
	<div class="manageGuildForm">

<div class="manageGuildForm">
<div>Guild name</div>
<label for="guildName">
<div>	<input id="guildName" class="manageGuildTextInput" type="text"></input> </div>
</label>
<div id="nameError" class="errorMessage"></div>
<div><button class="updateGuildName">Save</button></div>
<div></div>
<div>Anagram</div>
<label for="guildAnagram">
	<div><input id="guildAnagram" class="manageGuildTextInput" type="text"></input></div>
</label>
<div id="anagramError" class="errorMessage"></div>
<div><button class="updateGuildAnagram">Save</button></div>
<div></div>
</div>

<div>OFFICERS</div>
<ul class="manageGuildMembersList" id="officersList">
	{{#each this.officers}}
	<li>
		<img class="memberProfilePicture" src={{this.image_url}}></img><span>{{this.nickname}}</span><span><button id="relegateMember" value="{{this.id}}">Relegate</button></span>
	</li>
	{{/each}}
</ul>

<div>MEMBERS</div>
<ul class="manageGuildMembersList" id="membersList">
	{{#each this.members}}
	<li>
		<img class="memberProfilePicture" src={{this.image_url}}></img><span>{{this.nickname}}</span><span><button id="promoteMember" value="{{this.id}}">Promote</button></span>
	</li>
	{{/each}}
</ul>
<!--
<label for="memberToPromote" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="memberToPromote"></input>
</label>
<button class="promoteMember">Promote officer</button>
<div class="nicknameSearchResult" id="promoteMemberResult"></div>

<label for="memberToRelegate" class="labelGuildField">
	<input class="nicknameSearch" type="text" id="memberToRelegate"></input>
</label>
<button class="relegateMember">Relegate to member</button>
<div class="nicknameSearchResult" id="relegateMemberResult"></div>
-->
