
<div class="profileBlock" id="achievementsBlock">
    {{#each achievement}}
    <div class="achievement {{achieved}}">
        <div class="image-container" id="achievement-{{id}}">
            <img src="{{icon}}" class="image">
        </div>
        <div class="right">
            <div class="name">{{name}}</div>
            <div class="description">{{description}}</div>
            {{#ifCond achieved '==' 'achieved'}}
            <div class="achieved">
                <div class="check-container">
                    <img src="./icons/check.svg" class="check">
                </div>
                <div class="achieved-text">Achieved</div>
            </div>
            {{/ifCond}}
        </div>
    </div>
    {{/each}}
</div>
