<section class="profileBlock" id="friendsBlock">
<!--
	<table class="usersList">
	<tr id="profileList" class="usersListIndex">
		<th>{{this.friendsNumber}} friends</th>
		<th></th>
		<th></th>
		<th>Pseudo</th>
		<th>Guild</th>
		<th>league Rank</th>
		<th>General Rank</th>
		<th>Victories</th>
		<th>Total Games</th>
		<th>Status</th>
		<th></th>
		<th></th>
	</tr>

	{{#each this.friends}}
	<tr class="usersListEl">
		<td>Gold</td>
		<td>1</td>
		<td>profilePic</td>
		<td><a href="#profile/{{id}}/">{{nickname}}</a></td>
		<td>
			{{#if guild_id}}
				<a href="#/guild/{{guild_id}}/">{{guild.name}}</a>
			{{/if}}
		<td>
		<td>1</td>
		<td>1000</td>
		<td>42</td>
		<td>1001</td>
		<td>online</td>
		<td><a href="#spectate/{{id}}">spectate</a></td>
		{{#if isFriend}}
			<td><button id="followUser" value="{{id}}">Followed</button></td>
		{{else}}
			<td><button id="followUser" vakue="{{id}}">Follow</button></td>
		{{/if}}
	</tr>
	{{/each}}
</table>
</section>
-->
<div class="listsBoard leaderboardList" id="leaderboardList">
    <div class="nb-list nbGamers">{{friendsNumber}} friends</div>
    <table class="tablesBoard gamersTable">
        <tr>
            <th class="first-th"></th>
            <th></th>
            <th></th>
            <th>Nickname</th>
            <th>Guild</th>
            <th>Score</th>
            <th>Victories</th>
            <th>Total games</th>
            <th>Status</th>
            <th></th>
        </tr>
        {{#each friends}}
        <tr class="tableBoard gamerTable" for="{{id}}">
            <td class="first-th">
                <div class="trophy-container">
                    <img class="trophy" src="{{trophy}}">
                </div>
            </td>
            <td>{{rank}}</td>
            <td>
                <div class="image-container" onclick="window.location='#profile/{{id}}/';">
                    <img class="list-image" src="{{image_url}}">
                </div>
            </td>
            <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
            {{#if guild_id}}
            <td class="tableBoard-guild" onclick="window.location='#guild/{{guild_id}}/';">{{guild.name}}</td>
            {{/if}}
            {{#unless guild_id}}
            <td>N/A</td>
            {{/unless}}
            <td>{{score}}</td>
            <td>{{victories}}</td>
            <td>{{totalGames}}</td>
            <td>
                <div class="status-container">
                    <div class="pastille {{status}}" id="pastille{{id}}"></div>
                    <p class="status" id="status{{id}}">{{status}}</p>
                    <div class="slide-show-container"></div>
                    <img src="{{slide_show}}" id="slide-show{{id}}" class="slide-show"></img>
                </div>
            </td>
            {{#if myPage}}
                {{#unless follow}}
                <td><button class="follow" id="follow" for={{id}}></button></td>
                {{/unless}}
                {{#if follow}}
                <td><button class="unfollow" id="follow" for={{id}}></button></td>
                {{/if}}
            {{/if}}
        </tr>
        {{/each}}
    </table>
</div>
</section>
