<section class="profileBlock" id="friendsBlock">

<div class="listsBoard leaderboardList" id="leaderboardList">
    <div class="nb-list nbGamers">{{friendsNumber}} friends</div>
    <table class="tablesBoard gamersTable">
        <tr>
            <th class="first-th"></th>
            <th></th>
            <th></th>
            <th>Nickname</th>
            <th>Guild</th>
            <th>Score</th>
            <th>Victories</th>
            <th>Total games</th>
            <th>Status</th>
            <th></th>
        </tr>
        {{#each friends}}
        <tr class="tableBoard gamerTable" for="{{id}}">
            <td class="first-th">
                <div class="trophy-container">
                    <img class="trophy" src="{{trophy}}">
                </div>
            </td>
            <td>{{rank}}</td>
            <td>
                <div class="image-container" onclick="window.location='#profile/{{id}}/';">
                    <img class="list-image" src="{{image_url}}">
                </div>
            </td>
            <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
            {{#if guild_id}}
            <td class="tableBoard-guild" onclick="window.location='#guild/{{guild_id}}/';">{{guild.name}}</td>
            {{/if}}
            {{#unless guild_id}}
            <td>N/A</td>
            {{/unless}}
            <td>{{score}}</td>
            <td>{{victories}}</td>
            <td>{{totalGames}}</td>
            <td>
                {{#if ingame}}
                <div class="status-container ingame-container" id="status-container{{id}}" onclick="window.location='#game/{{gameId}}';">
                {{/if}}
                {{#unless ingame}}
                <div class="status-container" id="status-container{{id}}">
                {{/unless}}
                    <div class="pastille {{status}}" id="pastille{{id}}"></div>
                    <p class="status" id="status{{id}}">{{status}}</p>
                    <div class="slide-show-container">
                        <img src="{{slide_show}}" id="slide-show{{id}}" class="slide-show"></img>
                    </div>
                </div>
            </td>
            {{#if myPage}}
                <td><button class="unfollow" id="follow" for={{id}}></button></td>
            {{/if}}
        </tr>
        {{/each}}
    </table>
</div>
</section>
