<div class="pannelContent">
	<div class="pannelLine" id="pannelFirstLine">
	<div class="pannelEl" id="pannelTrophyContainer">
			<img id="pannelTrophy" src="{{this.trophy}}">
	</div>

	<div class="pannelEl pannelUl" id="pannelLeagueRank">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEL" id="leagueRank">
			{{this.ratio}}%</div>
		<!--<div class="pannelUlEl profilePanneEl pannelUlTotal" id="totalLeagueRank">
		/{{this.totalLeagueRank}}</div>-->
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id=totalLeagueRankLegend>
			WIN RATE</div>
	</div>

	<div class="pannelEl pannelUl" id="pannelGeneralRank">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEl" id="generalRank">
			{{this.generalRank}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlTotal" id="totalGeneralRank">
		/{{this.totalRank}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id="totalGeneralRankLegend">
			GENERAL RANK</div>
	</div>
	</div>

	<div class="pannelLine" id="pannelSecondLine">
	<div class="pannelEl pannelUl" id="pannelVictories">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEl" id="victories">
			{{this.victories}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id="victoriesLegend">
			VICTORIES</div>
	</div>

	<div class="pannelEl pannelUl" id="pannelTotalGames">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEL" id="totalGames">
			{{this.totalGames}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id="totalGamesLegend">
			TOTAL GAMES</div>
	</div>

	<span class="pannelEL" id ="Pannelnickname">{{this.nickname}}</span>
</div>
	<div>
		<img id="profilePicture" src={{this.image_url}}></img>
		<div id="profileButtons" class="savageButtons"></div>
	</div>
</div>
