<div class="pannelContent">

	<div class="paint line white-line"></div>
	<div class="paint red-ball"></div>
	<div class="paint line yellow-line"></div>

	<div class="pannelLine" id="pannelFirstLineProfile">

	<div class="pannelEl pannelUl" id="pannelLeagueRank">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEL" id="leagueRank">
			{{this.score}}</div>
		<!--<div class="pannelUlEl profilePanneEl pannelUlTotal" id="totalLeagueRank">
		/{{this.totalLeagueRank}}</div>-->
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id=totalLeagueRankLegend>
			SCORE</div>
	</div>

	<div class="pannelEl pannelUl" id="pannelGeneralRank">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEl" id="generalRank">
			{{this.generalRank}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlTotal" id="totalGeneralRank">
		/{{this.totalRank}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id="totalGeneralRankLegend">
			GENERAL RANK</div>
	</div>
	</div>

	<div class="pannelLine" id="pannelSecondLineProfile">
		<div class="pannelEl pannelUl" id="pannelVictories">
			<div class="pannelUlEl profilePanneEl pannelUlFirstEl" id="victories">
				{{this.victories}}</div>
			<div class="pannelUlEl profilePanneEl pannelUlLegend" id="victoriesLegend">
				VICTORIES</div>
		</div>

		<div class="pannelEl pannelUl" id="pannelTotalGames">
			<div class="pannelUlEl profilePanneEl pannelUlFirstEL" id="totalGames">
				{{this.totalGames}}</div>
			<div class="pannelUlEl profilePanneEl pannelUlLegend" id="totalGamesLegend">
				TOTAL GAMES</div>
		</div>
	</div>
	<div class="image-nickname">
		<div class="" id="pannelTrophyContainer">
			<img id="pannelTrophy" src="{{this.trophy}}">
		</div>
		<div class="" id ="Pannelnickname">{{this.nickname}}</div>
		{{!-- <div class="image-container">
			<img id="profilePicture" src={{this.image_url}}></img>
		</div> --}}

		<label class="image-container">
		{{#if myPage}}
		<input type="file"  accept="image/*" name="image" id="file"  style="display: none;">
		<img id="profilePicture" alt="avatar" src="{{this.image_url}}" width="200" style="cursor: pointer;" />
		{{/if}}
		{{#unless myPage}}
		<img id="profilePicture" alt="avatar" src="{{this.image_url}}" width="200" style="cursor: auto;" />
		{{/unless}}
		</label>


		<div id="profileButtons" class="savageButtons"></div>
	</div>
	<div class="status-container">
		<div class="pastille {{this.status_class}}" id="pastille{{this.id}}"></div>
		<p class="status" id="status{{this.id}}">{{this.status}}</p>
		<div class="slide-show-container"></div>
		<img src="{{slide_show}}" id="slide-show{{this.id}}" class="slide-show"></img>
	</div>
</div>
