<div class="profileBlock" id="profileGuildBlock">
<div id="guildOptionsContainer">
<div id="guildOptions">
    <div id="guildName-container">
    <a id="guildNameLabel" href="#guild/{{this.guild.id}}">{{this.guild.name}}<span> [{{this.guild.anagram}}]</span></a>
    </div>
    <div class="buttons">
        <span id="manageGuildButton"></span>
        <span id="leaveGuildButton"></span>
    </div>
</div>

<div class="listsBoard leaderboardList" id="leaderboardList">
	<div class="listsBoard leaderboardList" id="memberGuildList">
	    <div class="nb-list nbMemberGuildProfile">{{membersNumber}} members</div>
		<div class="table-container" id="memberGuildListTable">
	    <table class="tablesBoard gamersTable">
	        <tr>
	            <th class="first-th"></th>
	            <th></th>
	            <th></th>
	            <th>Nickname</th>
	            <th>Score</th>
	            <th>Victories</th>
	            <th>Total games</th>
	            <th>Status</th>
	            <th></th>
	        </tr>
			{{#each members}}
	        <tr class="tableBoard gamerTable" for="{{id}}">
	            <td class="first-th">
	                <div class="trophy-container">
	                    <img class="trophy" src="{{trophy}}">
	                </div>
	            </td>
	            <td>{{rank}}</td>
	            <td>
	                <div class="image-container" onclick="window.location='#profile/{{id}}/';">
	                    <img class="list-image" src="{{image_url}}">
	                </div>
	            </td>
	            <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
	            <td>{{score}}</td>
	            <td>{{victories}}</td>
	            <td>{{totalGames}}</td>
	            <td>
	                <div class="status-container">
	                    <div class="pastille {{status}}" id="pastille"></div>
	                    <p class="status">{{status}}</p>
	                    <div class="slide-show-container"></div>
	                    <img src="{{slide_show}}" class="slide-show"></img>
	                </div>
	            </td>
	            <td>{{member}}</td>
	        </tr>
	        {{/each}}
	    </table>
		</div>
	</div>
</div>



{{!-- 
<div class="listsBoard leaderboardList" id="leaderboardList">
    <div class="nb-list nbMemberGuildProfile">{{membersNumber}} members</div>
    <div class="table-container">
        <table class="tablesBoard gamersTable">
            <tr>
                <th class="first-th"></th>
                <th></th>
                <th></th>
                <th>Nickname</th>
                <th>Guild</th>
                <th>Score</th>
                <th>Victories</th>
                <th>Total games</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tr class="tableBoard gamerTable" for="{{this.owner.id}}">
                <td class="first-th">
                    <div class="trophy-container">
                        <img class="trophy" src="{{this.owner.trophy}}">
                    </div>
                </td>
                <td>{{this.owner.rank}}</td>
                <td>
                    <div class="image-container" onclick="window.location='#profile/{{id}}/';">
                        <img class="list-image" src="{{this.owner.image_url}}">
                    </div>
                </td>
                <td class="tableBoard-nickname" onclick="window.location='#profile/{{this.owner.id}}/';">{{this.owner.nickname}}</td>
                {{#if this.owner.guild_id}}
                <td class="tableBoard-guild" onclick="window.location='#guild/{{this.owner.guild_id}}/';">{{this.owner.guildName}}</td>
                {{/if}}
                {{#unless this.owner.guild_id}}
                <td>N/A</td>
                {{/unless}}
                <td>{{this.owner.score}}</td>
                <td>{{this.owner.victories}}</td>
                <td>{{this.owner.totalGames}}</td>
                <td>
                    <div class="status-container">
                        <div class="pastille {{this.owner.status}}" id="pastille"></div>
                        <p class="status">{{this.owner.status}}</p>
                        <div class="slide-show-container"></div>
                        <img src="{{this.owner.slide_show}}" class="slide-show"></img>
                    </div>
                </td>
                <td>Owner</td>
            </tr>
            {{#each officers}}
            <tr class="tableBoard gamerTable" for="{{id}}">
                <td class="first-th">
                    <div class="trophy-container">
                        <img class="trophy" src="{{trophy}}">
                    </div>
                </td>
                <td>{{rank}}</td>
                <td>
                    <div class="image-container" onclick="window.location='#profile/{{id}}/';">
                        <img class="list-image" src="{{image_url}}">
                    </div>
                </td>
                <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
                {{#if guild_id}}
                <td class="tableBoard-guild" onclick="window.location='#guild/{{guild_id}}/';">{{guildName}}</td>
                {{/if}}
                {{#unless guild_id}}
                <td>N/A</td>
                {{/unless}}
                <td>{{score}}</td>
                <td>{{victories}}</td>
                <td>{{totalGames}}</td>
                <td>
                    <div class="status-container">
                        <div class="pastille {{status}}" id="pastille"></div>
                        <p class="status">{{status}}</p>
                        <div class="slide-show-container"></div>
                        <img src="{{slide_show}}" class="slide-show"></img>
                    </div>
                </td>
                <td>Officer</td>
            </tr>
            {{/each}}
                    {{#each members}}
            <tr class="tableBoard gamerTable" for="{{id}}">
                <td class="first-th">
                    <div class="trophy-container">
                        <img class="trophy" src="{{trophy}}">
                    </div>
                </td>
                <td>{{rank}}</td>
                <td>
                    <div class="image-container" onclick="window.location='#profile/{{id}}/';">
                        <img class="list-image" src="{{image_url}}">
                    </div>
                </td>
                <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
                {{#if guild_id}}
                <td class="tableBoard-guild" onclick="window.location='#guild/{{guild_id}}/';">{{guildName}}</td>
                {{/if}}
                {{#unless guild_id}}
                <td>N/A</td>
                {{/unless}}
                <td>{{score}}</td>
                <td>{{victories}}</td>
                <td>{{totalGames}}</td>
                <td>
                    <div class="status-container">
                        <div class="pastille {{status}}" id="pastille"></div>
                        <p class="status">{{status}}</p>
                        <div class="slide-show-container"></div>
                        <img src="{{slide_show}}" class="slide-show"></img>
                    </div>
                </td>
                <td>Member</td>
            </tr>
            {{/each}}
        </table>
    </div> --}}
{{!-- </div> --}}
<!--<section>
<table class="usersList">
<tr class="usersListIndex">
	<th>{{this.membersNumber}} members</th>
	<th></th>
	<th></th>
	<th>Pseudo</th>
	<th>league Rank</th>
	<th>General Rank</th>
	<th>Victories</th>
	<th>Total Games</th>
	<th>Status</th>
	<th>Status</th>
</tr>

<tr class="usersListEl">
	<td>Gold</td>
	<td>1</td>
	<td>profilePic</td>
	<td><a href="#profile/{{owner_id}}/">{{this.owner.nickname}}</a></td>
	<td>1</td>
	<td>1000</td>
	<td>42</td>
	<td>1001</td>
	<td>online</td>
	<td>Owner</td>
</tr>

	{{#each this.officers}}
	<tr class="usersListEl">
			<td>Gold</td>
			<td>1</td>
			<td>profilePic</td>
			<td><a href="#profile/{{id}}/">{{nickname}}</a></td>
			<td>2</td>
			<td>3500</td>
			<td>12</td>
			<td>50</td>
			<td>offline</td>
			<td>Officer</td>
	</tr>
	{{/each}}

	{{#each this.members}}
	<tr class="usersListEl">
			<td>Gold</td>
			<td>1</td>
			<td>profilePic</td>
			<td><a href="#profile/{{id}}/">{{nickname}}</a></td>
			<td>2</td>
			<td>4</td>
			<td>1</td>
			<td>2</td>
			<td>offline</td>
			<td>Member</td>
	</tr>
	{{/each}}
</table>
</section>
-->
</div>
