<div class="privacy">{{privacy}} channel</div>
<div class="title online">
    <div class="pastille"></div>
    <div class="status ONLINE">ONLINE-{{nbOnline}}</div>
</div>
<div class="users usersOnline">
    {{#each usersOnline}}
        <div class="user">
            <div class="name">
                <div class="image-container">
                    <img src={{image_url}} class="blockViewProfile image_url" id={{channelId}} for="{{userId}}"></img>
                </div>
                <div class="name anagram">{{anagram}}</div>
                <div class="name nickname">{{nickname}}</div>
            </div>
            {{!-- {{#if others}} --}}
            <div class="play-button-container" for="{{userId}}">
                <button class="play-button" for="{{userId}}">Play</button>         
            </div>
            {{!-- {{/if}} --}}
        </div>
    {{/each}}
</div>
<div class="title inGame">
    <div class="pastille"></div>
    <div class="status IN_GAME">IN GAME-{{nbInGame}}</div>
</div>
<div class="users usersInGame">
    {{#each usersInGame}}
        <div class="user">
            <div class="name">
                <div class="image-container">
                    <img src={{image_url}} class="blockViewProfile image_url" id={{channelId}} for="{{userId}}"></img>
                </div>
                <div class="name anagram">{{anagram}}</div>
                <div class="name nickname">{{nickname}}</div>
            </div>
            <div class="slide-show-container">
                <img src="./icons/slideshow-ingame.svg" class="slide-show-ingame"></img>
            </div>
        </div>
    {{/each}}
</div>
<div class="title offline">
    <div class="pastille"></div>
    <div class="status OFFLINE">OFFLINE-{{nbOffline}}</div>
</div>
<div class="users usersOffline">
    {{#each usersOffline}}
        <div class="user">
            <div class="name">
                <div class="image-container">
                    <img src={{image_url}} class="blockViewProfile image_url" id={{channelId}} for="{{userId}}"></img>
                </div>
                <div class="name anagram">{{anagram}}</div>
                <div class="name nickname">{{nickname}}</div>
            </div>
        </div>
    {{/each}}
</div>