<div class="title">
    <h2 class="h2-discussions">Discussions</h2>
</div>
<div class="discussions-container">
    <div class="channels">
        <div class="first-line">
            <div class="sub-title">CHANNELS</div>
            <div class="icons">
                <img src="./icons/search-chat.svg" class="search_channel"></img>
                <img src="./icons/add_box.svg" class="add_box add_channel"></img>
            </div>
        </div>
        <div class="myChannels" id="myChannels">
        {{#each myChannels}}
            <div class="clickable-discussions clikable-discussions{{id}}" for={{id}} id="channel{{id}}">
                {{!-- <div class="image-container"> --}}
                    {{!-- <img src={{image_url}} id="image_url" class="image_url"></img> --}}
                {{!-- </div> --}}
                <p class="channelName">#{{name}}</p>
                {{#if admin}}
                <div class="admin_panel_settings" for="{{id}}">
                    <img src='./icons/admin_panel_settings.svg' class="admin_panel_settings-icon" for={{id}}></img>
                </div>
                {{/if}}
                <div class="close delete">
                    <img src='./icons/close.svg' class="close-icon" for={{id}}></img>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
    <div class="direct-messages">
        <div class="first-line">
            <div class="sub-title">DIRECT MESSAGES</div>
            <img src="./icons/add_box.svg" class="add_box add_direct_messages"></img>
        </div>
        <div class="DM" id="DM">
        {{#each DM}}
            <div class="clickable-discussions user" for={{id}} id="DM{{id}}">
                <div class="image-container">
                    <img src={{image_url}} id={{id}} class="blockViewProfile image_url" for={{userId}}></img>
                </div>
                <p class="anagram_nickname">{{nickname}}</p>
                {{!-- <div class="close">
                    <img src='./icons/close.svg' class="close-icon" for={{id}}></img>
                </div> --}}
            </div>
        {{/each}}
        </div>
    </div>
    {{#if superAdmin}}
    <div class="all-channels-admin">
        <div class="first-line">
            <div class="sub-title">ALL CHANNELS (ADMIN VIEW)</div>
        </div>
        <div class="all-channels" id="all-channels">
        {{#each allChannels}}
            <div class="clickable-discussions clikable-discussions{{id}}" for={{id}} id="all-channel{{id}}">
                {{!-- <div class="image-container"> --}}
                    {{!-- <img src={{image_url}} id="image_url" class="image_url"></img> --}}
                {{!-- </div> --}}
                <p class="channelName">#{{name}}</p>
                <div class="admin_panel_settings" for="{{id}}">
                    <img src='./icons/admin_panel_settings.svg' class="admin_panel_settings-icon" for={{id}}></img>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
    {{/if}}
</div>