<div class="listsBoard leaderboardList" id="leaderboardList">
    <div class="nb-list nbGamers">{{nbGamers}} gamers</div>
    <table class="tablesBoard gamersTable" id="gamersTable">
        <tr>
            <th class="first-th"></th>
            <th></th>
            <th></th>
            <th>Nickname</th>
            <th>Guild</th>
            {{!-- <th>General Rank</th> --}}
            <th>Victories</th>
            <th>Total games</th>
            <th>Status</th>
            <th></th>
        </tr>
        {{#each users}}
        <tr class="tableBoard gamerTable" for="{{id}}" id="{{id}}">
            <td class="first-th">
                <div class="trophy-container">
                    <img class="trophy" src="{{trophy}}">
                </div>
            </td>
            <td>{{rank}}</td>
            <td>
                <div class="image-container" onclick="window.location='#profile/{{id}}/';">
                    <img class="list-image" src="{{image_url}}">
                </div>
            </td>
            <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
            {{#if guild_id}}
            <td class="tableBoard-guild" onclick="window.location='#guild/{{guild_id}}/';">{{guild}}</td>
            {{/if}}
            {{#unless guild_id}}
            <td>{{guild}}</td>
            {{/unless}}
            {{!-- <td>{{generalRank}}</td> --}}
            <td>{{victories}}</td>
            <td>{{totalGames}}</td>
            <td>
                <div class="status-container">
                    <div class="pastille {{status}}" id="pastille{{id}}"></div>
                    <p class="status" id="status{{id}}">{{status}}</p>
                    <div class="slide-show-container"></div>
                    <img src="{{slide_show}}" class="slide-show" id="slide-show{{id}}"></img>
                </div>
            </td>
            {{#unless follow}}
            <td><button class="follow" id="follow" for={{id}}></button></td>
            {{/unless}}
            {{#if follow}}
            <td><button class="unfollow" id="follow" for={{id}}></button></td>
            {{/if}}
        </tr>
        {{/each}}
    </table>
</div>