<div class="topnav">
  <a class="btn logo" href="#home"></a>
  <a class="btn tournaments{{#if tournament}} {{active}}{{/if}}" href="#tournament">Tournament</a>
  <a class="btn{{#if leaderboard}} {{active}}{{/if}}" href="#leaderboard">Leaderboard</a>
  <a class="btn{{#if guilds}} {{active}} {{/if}} guilds" href="#guilds">Guilds</a>
    {{!-- {{#if admin }}
        <a class="btn admin" href="#admin">Admin</a>
    {{/if}} --}}
  <a class="span"></a>
  <a class="btn {{#if chat}}{{active}}{{/if}}{{#unless chat}}unactive{{/unless}}chat" href="#chat">
    <img src={{chatIcon}} class="chat">
  </a>
  <a class="btn user-page" href="#profile/{{id}}">
    <img src={{profile_pic}} class="profile_pic"></img>
    <div class="btn {{#if user_page}} {{active}} {{/if}} user" href="#profile/{{id}}">{{user}}</div>
  </a>
  <a class="exit" href="#exit"></a>
</div>
