<div class="notif guildNotif" id="guildNotif{{id}}" > 
    <div class="closeNotif refuseGame" id="closeGameNotif-container" for={{id}}>
        <img src="./icons/close.svg" class="refuseGame" id="closeGameNotif" for="{{id}}"></img>
    </div>
    <p class="text">You have been invited to join {{name}} guild.</p>
    <div class="buttons-notif-container">
        <div class="acceptGame-container" id="acceptGame-container">
            <button class="button-notif acceptGuild" id="acceptGuild" for="{{id}}">Accept</button>
        </div>
        <div class="refuseGame-container" id="refuseGame-container">
            <button class="button-notif refuseGuild" id="refuseGuild" for="{{id}}">Refuse</button>
        </div>
    </div>
</div>