<div class="notif senderGameNotif" id="senderGameNotif{{gameId}}" >
    <div class="closeNotif" id="closeSenderGameNotif-container" for={{gameId}}>
        <img src="./icons/close.svg" class="closeSenderGameNotif" id="closeSenderGameNotif" for="{{gameId}}"></img>
    </div>
    <p class="text">You have sent an invitation to a match.</p>
    <div class="acceptGame-container" id="acceptGame-container">
        <button class="button-notif acceptGame" id="acceptGame" for="{{gameId}}">Go to game</button>
    </div>
    <div class="refuseGame-container" id="refuseGame-container">
        <button class="button-notif refuseGame" id="refuseGame" for="{{gameId}}">Cancel invitation</button>
    </div>
</div>
