<div class="pannelContent">
	<div class="paint line white-line"></div>
	<div class="paint red-ball"></div>
	<div class="paint line yellow-line"></div>

	<div class="pannelLine" id="pannelFirstLine">
	<div class="pannelEl pannelUl" id="pannelScore">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEL" id="guildScore">
			{{this.score}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id=GuildScoreLegend>
			SCORE</div>
	</div>

	<div class="pannelEl pannelUl" id="pannelRank">
		<div class="pannelUlEl profilePanneEl pannelUlFirstEl" id="guildRank">
			{{rank}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlTotal" id="totalGeneralRank">
		/{{totalRank}}</div>
		<div class="pannelUlEl profilePanneEl pannelUlLegend" id="guildRankLegend">
			RANK</div>
	</div>
	</div>

	<div class="pannelLine" id="pannelSecondLine">
		<div class="pannelEl pannelUl" id="pannelWarsWon">
			<div class="pannelUlEl profilePanneEl pannelUlFirstEl" id="guildWarsWon">
				{{this.warsWon}}</div>
			<div class="pannelUlEl profilePanneEl pannelUlLegend" id="guildWarsWonLegend">
				WARS WON</div>
		</div>

		<div class="pannelEl pannelUl" id="pannelTotalWars">
			<div class="pannelUlEl profilePanneEl pannelUlFirstEL" id="guildTotalWars">
				{{this.totalWars}}</div>
			<div class="pannelUlEl profilePanneEl pannelUlLegend" id="guildTotalWarsLegend">
				TOTAL WARS</div>
		</div>
	</div>
	<div class="pannelLine guildInfos" id="guildInfos"><span id ="guildName">{{this.name}}</span><span class="pannelEl" id="guildAnagram"> [{{this.anagram}}]</span>
</div>
</div>
