<div class="guildBlock" id="lastWarsBlock">
	<div class="listsBoard leaderboardList" id="memberGuildList">
	    <div class="nb-list nbMembers">{{membersNumber}} members</div>
		<div class="" id="memberGuildListTable">
	    <table class="tablesBoard gamersTable">
	        <tr>
	            <th class="first-th"></th>
	            <th></th>
	            <th></th>
	            <th>Nickname</th>
	            <th>Score</th>
	            <th>Victories</th>
	            <th>Total games</th>
	            <th>Status</th>
	            <th></th>
	        </tr>
			{{#each members}}
	        <tr class="tableBoard gamerTable" for="{{id}}">
	            <td class="first-th">
	                <div class="trophy-container">
	                    <img class="trophy" src="{{trophy}}">
	                </div>
	            </td>
	            <td>{{rank}}</td>
	            <td>
	                <div class="image-container" onclick="window.location='#profile/{{id}}/';">
	                    <img class="list-image" src="{{image_url}}">
	                </div>
	            </td>
	            <td class="tableBoard-nickname" onclick="window.location='#profile/{{id}}/';">{{nickname}}</td>
	            <td>{{score}}</td>
	            <td>{{victories}}</td>
	            <td>{{totalGames}}</td>
	            <td>
	                <div class="status-container">
	                    <div class="pastille {{status}}" id="pastille"></div>
	                    <p class="status">{{status}}</p>
	                    <div class="slide-show-container"></div>
	                    <img src="{{slide_show}}" class="slide-show"></img>
	                </div>
	            </td>
	            <td>{{member}}</td>
	        </tr>
	        {{/each}}
	    </table>
		</div>
	</div>
</div>
