<div class="guildBlock" id="lastWarsBlock">
{{#if war}}
{{#each wars}}
<div class="current-war">
	<div class="scores scores-last-wars" id="scores-last-wars-{{id}}" for="{{id}}">
		{{!-- <div class="prize">
			<div class="icon-reward-container">
				<img src="./icons/cup.svg">
			</div>
			<div class="points">{{prize}} points</div>
		</div> --}}
		<div class="center">
			<div class="name from-name">{{fromName}}</div>
			<div class="score from-score" id="from-score-{{id}}">{{fromScore}}</div>
			<div class="vs">VS</div>
			<div class="score on-score" id="on-score-{{id}}">{{onScore}}</div>
			<div class="name on-name">{{onName}}</div>
		</div>
		{{!-- <div class="arrow-icon-container">
			<img src="./icons/arrow_down-white.svg" class="arrow-icon" id="arrow-icon">
		</div> --}}
	</div>
	<div class="war-informations" id="war-informations-{{id}}" for="{{id}}" style="display: none;">
		<div class="war-infos" id="war-infos">
			<div class="war-info war-schedule-container">
				<div class="title war-schedule-title">War schedule</div>
				<div class="schedule-icon-container">
					<img src="./icons/schedule-yellow.svg" class="schedule-icon">
				</div>
				<div class="war-time">
					<div class="war-start">{{warStart}}</div>
					<div class="hyphen">-</div>
					<div class="war-end">{{warEnd}}</div>
				</div>
				{{!-- <div class="timer" id="war-timer"></div> --}}
			</div>
			<div class="war-info war-rules-container">
				<div class="title war-rules-title">War rules</div>
				<div class="war-rules-sub-container">
					<div class="war-rules-sub win-reward">
						<div class="sub-title win-reward-title">Win reward</div>
						<div class="win-reward-points-container">
							<div class="icon-reward-container">
								<img src="./icons/cup.svg">
							</div>
							<div class="points">{{prize}} points</div>
						</div>
					</div>
					<div class="war-rules-sub accontable-matches">
						<div class="sub-title accontable-matches-title">Accountable matches</div>
						<div class="accountable-matches-sub-container ladder-container">
							<div class="icon-container ladder-icon-container">
								<img src="{{ladderIcon}}" class="check ladder-icon">
							</div>
							<div class="ladder-name">Ladder</div>
						</div>
						<div class="accountable-matches-sub-container tournaments-container">
							<div class="icon-container tournaments-icon-container">
								<img src="{{tournamentsIcon}}" class="check tournaments-icon">
							</div>
							<div class="tournaments-name">Tournaments</div>
						</div>
						<div class="accountable-matches-sub-container interguild-container">
							<div class="icon-container interguild-icon-container">
								<img src="./icons/check_circle-yellow.svg" class="check interguild-icon">
							</div>
							<div class="tournaments-name">Interguild duels</div>
						</div>
					</div>
				</div>
			</div>
			<div class="war-info war-time-rules-container">
				<div class="title war-time-rules-title">War times rules</div>
				<table class="war-time-table">
					<tr>
						<th class="sub-title schedule-th">Schedule</th>
						<th class="sub-title max-unanswered-th">Max unanswered<br>matches</th>
						<th class="sub-title tta-th">Time to answer</th>
					</tr>
				{{#each warTime}}
				<tr class="each-war-time">
					<td class="row schedule-td">
						<div class="row start">
							<div class="day">{{startDay}}</div>
							<div class="hour">{{startHour}}h:00m</div>
						</div>
						<div class="hyphen">-</div>
						<div class="row end">
							<div class="hour">{{endHour}}h:00m</div>
						</div>
					</td>
					<td class="max-unanswered-td">{{maxUnanswered}}</td>
					<td class="tta-td">{{tta}} seconds</td>
				</tr>
				{{/each}}
				</table>
				</div>
			</div>
		{{!-- <div class="fights-container">
			<div class="nb-matches-missed-container">
				<div class="nb-matches-missed-title">Number of matches calls missed during this war time:</div>
				<div class="matches-missed">
					<div class="each-matches-missed from-matches-missed">
						<div class="name from-name">{{fromName}}</div>
						<div class="hyphen">-</div>
						<div class="nb-matches-missed from-nb-matches-missed">{{nbFromMissed}}</div>
					</div>
					<div class="each-matches-missed on-matches-missed">
						<div class="name on-name">{{onName}}</div>
						<div class="hyphen">-</div>
						<div class="nb-matches-missed on-nb-matches-missed">{{nbOnMissed}}</div>
					</div>
				</div>
			</div>
		</div> --}}
		<div class="match-history last-matches-container">
			<div class="title last-matches-title">Matches of war times</div>
			{{#each lastMatches}}
			<div class="match-done-container">
				<div class="match-done">
					<div class="nb">{{nb}}</div>
					<div class="center">
						<div class="not-forfeit">
							<div class="image-nickname" onclick="window.location='#profile/{{opponentId1}}/';">
								<div class="opponent opponent1">{{opponent1}}</div>
								<div class="image-container">
									<img class="image-url" src="{{avatarOpponent1}}">
								</div>
							</div>
							<div class="score score1">{{score1}}</div>
							<div class="VS">VS</div>
							<div class="score score2">{{score2}}</div>
							<div class="image-nickname" onclick="window.location='#profile/{{opponentId2}}/';">
								<div class="image-container">
									<img class="image-url" src="{{avatarOpponent2}}">
								</div>
								<div class="opponent opponent2">{{opponent2}}</div>
							</div>
						</div>
						{{#if forfeit}}
						<div class="forfeit">Victory by forfeit</div>
						{{/if}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{/each}}
{{/if}}
{{#unless war}}
<div class="no-current-war">NO WAR REGISTERED</div>
{{/unless}}
</div>
